html, body, div, span,
h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

ul {
  list-style: none; }

a:hover, button:hover, a:focus, button:focus {
  cursor: pointer; }

a {
  text-decoration: none;
  color: #1B1C21; }

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

.icon {
  background-color: #FF3E79;
  width: 40px;
  height: 38px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .icon:focus {
    cursor: pointer;
    opacity: 0.8; }
  .icon:hover {
    cursor: pointer;
    opacity: 0.8; }

.icon-btn {
  display: flex;
  align-items: center; }
  .icon-btn:focus {
    opacity: 0.8; }
  .icon-btn:hover {
    opacity: 0.8; }

.more-btn {
  font-family: "DemiBold";
  font-size: 16px;
  position: relative; }
  .more-btn::before {
    content: url(./static/strela.svg);
    position: absolute;
    top: -3px;
    left: 0; }

.more-btn--clicked::before {
  transform: rotate(180deg) translateY(4px); }

.section__btn {
  margin-top: 24px; }

.order__btn {
  padding-left: 12px;
  width: 107px;
  height: 32px;
  border-radius: 16px;
  background-color: #FF3E79;
  color: #FFFFFF;
  text-align: left; }

.order__btn:hover, .order__btn:focus {
  box-shadow: inset 0px 0px 5px 0.5px #EAEAEA; }

.order__text {
  font-size: 12px;
  letter-spacing: -0.15px;
  font-weight: bolder;
  text-transform: uppercase;
  position: relative; }

.order__text::after {
  content: '';
  position: absolute;
  border-top: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
  height: 8px;
  width: 8px;
  transform: rotate(45deg);
  top: 3px;
  right: -30px; }

@media (min-width: 320px) and (max-width: 450px) {
  .section__btn {
    display: none; }
  .icon_text {
    display: none; }
  .section__more {
    margin: 16px 0;
    padding-left: 30px; } }

@media (min-width: 451px) and (max-width: 767px) {
  .section__more {
    margin: 16px 0;
    padding-left: 30px; }
  .icon_text {
    display: none; }
  .section__btn {
    display: none; } }

@media (min-width: 768px) and (max-width: 1439px) {
  .section__more {
    padding-left: 30px; }
  .section__btn {
    padding-left: 33px; }
  .icon_text {
    display: none; } }

@media (min-width: 768px) {
  .section__more {
    padding-left: 30px; } }

@media (min-width: 1440px) {
  .icon_text {
    padding: 0 8px 0 32px; }
  .section__btn {
    padding-left: 39px; } }

.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #D9FFF5;
  padding: 19px 16px 19px 16px; }

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.header__list {
  display: flex;
  align-items: center;
  gap: 16px; }
  .header__list:nth-child(2n) {
    margin-left: 250px; }

.logo {
  display: block;
  max-width: 97px;
  max-height: 51px; }

@media (min-width: 320px) and (max-width: 450px) {
  .header__list:nth-child(2n) {
    display: none; }
  .header__list:first-child {
    position: relative; }
    .header__list:first-child::after {
      content: "";
      position: absolute;
      bottom: 10px;
      left: 170px;
      height: 32px;
      width: 2px;
      border: 0.5px solid #EAEAEA;
      border-radius: 1px; } }

@media (min-width: 451px) and (max-width: 767px) {
  .header__list:nth-child(2n) {
    display: none; }
  .header__list:first-child {
    position: relative; }
    .header__list:first-child::after {
      content: "";
      position: absolute;
      bottom: 10px;
      left: 170px;
      height: 32px;
      width: 2px;
      border: 0.5px solid #EAEAEA;
      border-radius: 1px; } }

@media (min-width: 768px) and (max-width: 1439px) {
  .header__list {
    position: relative; }
    .header__list:first-child {
      position: relative;
      gap: 43px; }
      .header__list:first-child::after {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 60px;
        height: 32px;
        width: 2px;
        border: 0.5px solid #EAEAEA;
        border-radius: 1px; }
    .header__list:nth-child(2n)::after {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 165px;
      height: 32px;
      width: 2px;
      border: 0.5px solid #EAEAEA;
      border-radius: 1px; } }

@media (min-width: 1440px) {
  .header__list:not(:last-child) {
    display: none; }
  .header {
    background-color: #F8F8F8;
    border: none;
    padding: 0; }
  .header__nav {
    justify-content: flex-end;
    padding-bottom: 17px; }
  .header__item {
    display: flex;
    align-items: center; } }

.section {
  width: 100%; }

.section__title {
  background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
  border-top: 1px solid #D9FFF5; }

.main__section {
  padding-bottom: 14px; }

.section__more {
  margin-top: 24px; }

.photo-CPS {
  height: 100%;
  width: 100%;
  object-fit: cover; }

@media (min-width: 320px) and (max-width: 450px) {
  .section__title {
    padding: 16px; }
  .main__section {
    padding-left: 16px; }
  .section__photo {
    padding: 0;
    max-width: 450px;
    height: auto;
    margin-left: -16px;
    overflow: hidden; } }

@media (min-width: 451px) and (max-width: 767px) {
  .section__title {
    padding: 16px; }
  .main__section {
    padding-left: 16px; }
  .main__service {
    display: flex;
    gap: 3px;
    margin: 24px 0 20px 24px;
    overflow-x: scroll; }
  .section__photo {
    padding: 0;
    max-width: 450px;
    height: auto;
    margin-left: -16px;
    overflow: hidden; } }

@media (min-width: 768px) and (max-width: 1439px) {
  .section__title {
    padding: 16px 24px; }
  .main__section {
    display: flex;
    justify-content: space-between;
    padding-right: 25px; }
  .section__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px; }
  .section__photo {
    height: 208px;
    margin-top: 32px;
    overflow: hidden; }
  .photo-CPS {
    border-radius: 5px; } }

@media (min-width: 1440px) {
  .section__title {
    padding: 16px 0 0px 32px; }
  .main__section {
    display: flex;
    justify-content: space-between;
    padding-top: 10px; }
  .section__desc {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start; }
  .section__photo {
    padding-left: 0;
    height: 307px;
    overflow: hidden; }
  .photo-CPS {
    border-radius: 5px; } }

@media (min-width: 320px) and (max-width: 450px) {
  .section__text {
    max-height: 88px;
    overflow: hidden;
    width: 288px;
    transition: max-height 500ms; } }

@media (min-width: 451px) and (max-width: 767px) {
  .section__text {
    max-height: 88px;
    width: 288px;
    overflow: hidden;
    transition: max-height 500ms; } }

@media (min-width: 768px) and (max-width: 1439px) {
  .section__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-height: 160px;
    width: 312px;
    overflow: hidden;
    transition: max-height 500ms; }
  .swiper__list {
    display: grid;
    grid-template-columns: repeat(3, 232px);
    gap: 24px;
    max-height: 190px;
    overflow: hidden;
    transition: max-height 200ms; } }

@media (min-width: 1440px) {
  .section__text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 160px;
    overflow: hidden;
    width: 490px;
    transition: max-height 500ms; }
  .swiper__list {
    display: grid;
    grid-template-columns: repeat(4, 240px);
    gap: 32px;
    max-height: 190px;
    overflow: hidden;
    transition: max-height 200ms; } }

.section__text--show {
  max-height: 1000px;
  transition: max-height 1s; }

.swiper__list--show {
  max-height: 1000px;
  transition: max-height 300ms; }

.swiper__arrow {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #FF3E79;
  border-radius: 50%; }

.arrow {
  margin: 14px 17px; }

.swiper__link {
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 16px; }
  .swiper__link:hover {
    box-shadow: inset 0px 0px 5px 0.5px #FF3E79; }
  .swiper__link:focus {
    box-shadow: inset 0px 0px 5px 0.5px #FF3E79; }

.swiper__logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  width: 128px; }

.img {
  object-fit: contain; }

.swiper__ref {
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  border-radius: 6px;
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 64px;
  max-width: 240px; }
  .swiper__ref:hover {
    box-shadow: inset 0px 0px 5px 0.5px #FF3E79; }
  .swiper__ref:focus {
    box-shadow: inset 0px 0px 5px 0.5px #FF3E79; }

.swiper__name {
  align-self: flex-start;
  font-family: "DemiBold";
  font-size: 16px;
  line-height: 24px; }

@media (min-width: 320px) and (max-width: 767px) {
  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .swiper-pagination {
    position: relative;
    top: 16px; }
  .swiper {
    overflow-x: hidden;
    padding: 16px 0 66px 16px; }
    .swiper .swiper-pagination-bullet {
      background-color: #B5B6BC; }
  .swiper__item {
    max-width: 240px; }
  .swiper__link {
    width: 208px; } }

@media (min-width: 405px) and (max-width: 450px) {
  .swiper__item, .swiper__ref {
    max-width: 260px; } }

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    max-width: 768px;
    margin: 0 auto; }
  .swiper-pagination {
    display: none; }
  .swiper {
    padding: 24px 0px 34px 0px; }
  .swiper__link {
    width: 192px; } }

@media (min-width: 1440px) {
  .container {
    max-width: 1120px;
    margin: 0 auto; }
  .swiper-pagination {
    display: none; }
  .swiper {
    padding: 24px 0px 34px 0px; }
  .swiper__link {
    width: 208px; } }

.main__link {
  white-space: nowrap;
  display: inline-block;
  color: #7E7E82;
  border: 2px solid transparent;
  padding: 8px 16px 8px 16px;
  border-radius: 6px;
  font-family: "Regular";
  font-weight: lighter;
  font-size: 16px;
  line-height: 24px; }
  .main__link:hover {
    border-color: #B8FFEC;
    background: #FFFFFF; }
  .main__link:focus {
    border-color: #B8FFEC;
    background: #FFFFFF; }

@media (min-width: 320px) and (max-width: 450px) {
  .main__service {
    padding-left: 16px; }
  .main__service {
    display: flex;
    gap: 3px;
    margin: 24px 0;
    overflow-x: scroll; }
  .main__service::-webkit-scrollbar {
    width: 0;
    height: 0; } }

@media (min-width: 451px) and (max-width: 767px) {
  .main__service {
    padding-left: 16px; }
  .main__service {
    display: flex;
    gap: 3px;
    margin: 24px 0 20px 24px;
    overflow-x: scroll; }
  .main__service::-webkit-scrollbar {
    width: 0;
    height: 0; } }

@media (min-width: 768px) and (max-width: 1439px) {
  .main__service {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-top: 32px;
    overflow-x: scroll; }
  .main__service::-webkit-scrollbar {
    width: 0;
    height: 0; } }

@media (min-width: 1440px) {
  .main__service {
    margin: 19px -9px 0 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start; } }

body {
  background-color: #F8F8F8; }

.main {
  min-height: 80vh; }

.container {
  position: relative;
  top: 0;
  left: 0; }

.container-opasity {
  filter: opacity(0.04);
  width: 100%;
  position: fixed; }

@media (min-width: 320px) and (max-width: 450px) {
  .main {
    max-width: 400px;
    overflow-y: scroll; }
  .main__title {
    padding: 24px 16px 0 16px; } }

@media (min-width: 451px) and (max-width: 767px) {
  .container {
    max-width: 451px;
    margin: 0 auto; }
  .main {
    overflow-y: scroll; }
  .main__title {
    padding-left: 16px; } }

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    max-width: 786px;
    margin: 0 auto; }
  .main {
    padding-left: 24px;
    padding-top: 24px;
    overflow: hidden; } }

@media (min-width: 1440px) {
  .container {
    max-width: 1120px;
    padding: 42px 29px 0 34px; } }

.sidebar__nav {
  padding-bottom: 50px; }

.sidebar__list {
  display: flex;
  align-items: center;
  gap: 17px; }

.sidebar__item:nth-child(2n) {
  flex-grow: 1; }

.choice {
  font-family: "DemiBold";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: #1B1C21; }

.choice__list {
  display: flex;
  flex-direction: column;
  gap: 32px; }

.choice__item {
  display: block; }

.choice__item:hover, .choice__item:focus {
  position: relative;
  font-family: "Regular";
  color: #7E7E82; }

.other__buttons {
  display: flex;
  gap: 16px; }

.other__contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 12px; }

.other__phone {
  font-family: "DemiBold";
  font-size: 24px; }

.langs {
  display: flex;
  gap: 7px;
  padding-top: 40px; }

.langs__input {
  position: absolute;
  -moz-appearance: none;
       appearance: none; }
  .langs__input:hover + .langs__name {
    cursor: pointer; }
  .langs__input:focus + .langs__name {
    cursor: pointer; }
  .langs__input:checked + .langs__name {
    color: #7E7E82; }

#feedback, #message {
  justify-content: flex-start;
  margin-left: auto; }

.form__body {
  display: flex;
  flex-direction: column;
  gap: 25px; }

.form__input {
  font-family: "Regular";
  color: #1B1C21;
  font-size: 16px;
  padding: 12px 16px; }

textarea.form__input {
  resize: none;
  height: 118px; }

.form__order .order__text::after {
  right: -20px; }

@media (max-width: 767px) {
  .form {
    margin-top: 76px; }
  .form__item {
    padding: 2px 0; }
  .form__input {
    width: 288px;
    padding: 5px 0; }
  .form__order {
    margin-left: 80px; }
  .form__body {
    display: flex;
    flex-direction: column;
    gap: 25px; } }

@media (min-width: 768px) {
  .form__input {
    width: 400px; }
  .form__order {
    margin-left: 140px; }
  .form_warning {
    font-size: 14px;
    padding-right: 32px; }
  .sidebar__list {
    position: relative; }
  #message .sidebar__item:first-child,
  #feedback .sidebar__item:first-child {
    position: absolute;
    left: -65px; } }

.swiper__servises {
  display: flex;
  flex-direction: column; }

.swiper__servise {
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  align-items: center; }

.section__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start; }

.swiper__point:first-child {
  font-size: 14px; }

.section__offer {
  position: relative;
  padding-bottom: 50px; }

@media (min-width: 320px) and (max-width: 767px) {
  .swiper__head {
    display: none; }
  .swiper-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .swiper__servise {
    border-radius: 6px;
    display: grid;
    grid-template-columns: 100px 120px;
    grid-template-areas: "kind kind"
 "price price"
 "time orde";
    gap: 16px;
    width: 250px;
    height: 200px;
    padding: 16px; }
  .swiper__stuff {
    color: #7E7E82;
    font-size: 14px; }
  .swiper__point:first-child {
    display: flex;
    flex-direction: column;
    gap: 4px;
    grid-area: kind; }
  .swiper__point:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 4px;
    grid-area: price; }
  .swiper__point:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 4px;
    grid-area: time; }
  .swiper__point:last-child {
    grid-area: orde; }
  .section__info {
    padding: 0 16px 40px 16px; }
  .section__nds {
    text-align: left; }
  .section__offer {
    text-align: left; } }

@media (min-width: 768px) and (max-width: 1439px) {
  .swiper__stuff {
    display: none; }
  .swiper__head {
    display: grid;
    grid-template-columns: 415px 95px 100px 119px;
    padding-bottom: 16px;
    padding: 23px 16px; }
  .swiper__servise {
    font-size: 14px;
    display: grid;
    grid-template-columns: 430px 90px 100px 119px;
    width: 747px; }
  .swiper__point:first-child {
    padding: 23px 16px; }
  .section__info {
    width: 55%; } }

@media (min-width: 1440px) {
  .swiper__stuff {
    display: none; }
  .swiper__head {
    padding-bottom: 16px;
    padding: 16px 24px;
    display: grid;
    grid-template-columns: 458px 220px 220px 135px; }
  .swiper__servise {
    display: grid;
    grid-template-columns: 480px 220px 220px 135px; }
  .swiper__point:first-child {
    padding: 24px 23px; }
  .section__info {
    width: 55%; } }

@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 0 19px 0;
    justify-content: center; }
  .footer__item {
    font-size: 12px;
    text-align: center; } }

@media (min-width: 768px) and (max-width: 1439px) {
  .footer {
    padding: 32px 24px;
    border-top: 1px solid #D9FFF5;
    display: flex;
    gap: 37px;
    align-items: flex-start; }
  .footer__item {
    font-size: 14px; }
    .footer__item:first-child {
      white-space: nowrap; }
    .footer__item:nth-child(2n) {
      text-align: center;
      white-space: nowrap; }
    .footer__item:nth-child(3n) {
      text-align: right; } }

@media (min-width: 1440px) {
  .footer {
    padding: 32px 31px;
    border-top: 1px solid #D9FFF5;
    display: flex;
    gap: 147px;
    align-items: flex-start; }
  .footer__item {
    font-size: 14px; }
  .footer__item:first-child {
    white-space: nowrap; }
  .footer__item:nth-child(2n) {
    text-align: center;
    white-space: nowrap; }
  .footer__item:nth-child(3n) {
    text-align: right; } }

.sidebar {
  padding: 19px 24px 32px 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF; }

.sidebar__title {
  position: relative; }
  .sidebar__title::before {
    left: -15px;
    top: -10px; }

.sidebar-left {
  transition: 200ms;
  transform: translateX(-120%); }

.sidebar-right {
  transition: 200ms;
  transform: translateX(115%);
  position: fixed;
  right: 0px;
  top: 0;
  z-index: 10; }

@media (min-width: 250px) and (max-width: 1439px) {
  .sidebar-left {
    justify-content: space-between;
    width: 320px;
    position: fixed;
    left: 0px;
    top: 0;
    z-index: 2; } }

@media (min-width: 768px) and (max-width: 1439px) {
  .sidebar-left {
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), 16px 0px 52px rgba(14, 24, 80, 0.2); } }

@media (min-width: 1440px) {
  .sidebar-left {
    transform: translate(0);
    width: 320px;
    position: fixed;
    left: 0;
    top: 0;
    justify-content: space-between; }
  .container {
    left: 160px; }
  #burger .sidebar__item:first-child {
    display: none; } }

@media (max-width: 767px) {
  .sidebar-right {
    padding: 19px 16px 32px 16px;
    width: 320px; }
  .sidebar__title {
    top: 80px;
    left: -48px; } }

@media (min-width: 768px) {
  .sidebar-right {
    padding: 19px 20px 32px 18px;
    margin-left: auto;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02), -16px 0px 52px rgba(14, 24, 80, 0.2);
    width: 440px; } }

.sidebar--show {
  transition: 200ms;
  transform: translateX(0%); }

@font-face {
  font-family: 'ExtraBold';
  src: url(./fonts/TTLakes-ExtraBold.ttf) format("truetype");
  src: url(./fonts/TTLakes-ExtraBold.eot) format("eot");
  src: url(./fonts/TTLakes-ExtraBold.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DemiBold';
  src: url(./fonts/TTLakes-DemiBold.ttf) format("truetype");
  src: url(./fonts/TTLakes-DemiBold.eot) format("eot");
  src: url(./fonts/TTLakes-DemiBold.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Regular';
  src: url(./fonts/TTLakes-Regular.ttf) format("truetype");
  src: url(./fonts/TTLakes-Regular.eot) format("eot");
  src: url(./fonts/TTLakes-Regular.woff) format("woff");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Regular";
  line-height: 18px;
  letter-spacing: 0.2px;
  font-size: 14px; }

.text--btn {
  font-family: "DemiBold";
  font-size: 16px; }

h1 {
  font-family: "ExtraBold";
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px; }

h2 {
  font-family: "Regular";
  font-size: 16px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #B5B6BC; }

h3 {
  font-family: "ExtraBold";
  font-size: 24px; }

.color {
  color: #FF3E79; }

.title::before {
  position: absolute;
  left: -18px;
  content: "";
  height: 40px;
  width: 3px;
  background-color: #41F6D7;
  border: 1px solid #41F6D7;
  border-radius: 3px; }

.section__offer:hover::after,
.section__offer:focus::after {
  content: '';
  position: absolute;
  border-top: 2px solid #FF3E79;
  border-right: 2px solid #FF3E79;
  height: 6px;
  width: 6px;
  transform: rotate(45deg);
  top: 7px;
  left: 310px; }

.choice__item:hover::before, .choice__item:focus::before {
  position: absolute;
  content: "";
  left: -17px;
  top: -5px;
  height: 32px;
  width: 3px;
  background-color: #41F6D7;
  border: 1px solid #FFFFFF;
  border-radius: 2px; }

@media (min-width: 320px) and (max-width: 767px) {
  .section__offer:hover::after,
  .section__offer:focus::after {
    top: 25px;
    left: 110px; }
  .sidebar__title::before {
    left: -25px; } }

@media (min-width: 335px) and (max-width: 767px) {
  .section__offer:hover::after,
  .section__offer:focus::after {
    top: 7px;
    left: 310px; }
  .sidebar__title::before {
    left: -25px; } }

@media (min-width: 320px) and (max-width: 1439px) {
  .main__title:before {
    left: 0px; } }

@media (min-width: 1440px) {
  .main__title {
    position: absolute;
    left: 32px;
    top: 42px; }
    .main__title::before {
      left: -30px; } }


/*# sourceMappingURL=style.css.map*/
