
@font-face {
	font-family:'ExtraBold';
	src: url('../fonts/TTLakes-ExtraBold.ttf') format('truetype');
    src: url('../fonts/TTLakes-ExtraBold.eot') format('eot');
    src: url('../fonts/TTLakes-ExtraBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DemiBold';
	src: url('../fonts/TTLakes-DemiBold.ttf') format('truetype');
    src: url('../fonts/TTLakes-DemiBold.eot') format('eot');
    src: url('../fonts/TTLakes-DemiBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:'Regular';
	src: url('../fonts/TTLakes-Regular.ttf') format('truetype');
    src: url('../fonts/TTLakes-Regular.eot') format('eot');
    src: url('../fonts/TTLakes-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

